/* Header */
.large-header {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}
.sub-logo {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	top: 34%;
	left: 40%;
	text-align: center;
	font-size: 1em;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.sub-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	top: 54%;
	left: 40%;
	text-align: center;
	font-size: 2em;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}
#cs{
	margin-top: 10%;
}
.main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 34%;
	left: 40%;
	font-size: 5em;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.demo-1 .main-title,
.demo-3 .main-title {
	text-transform: uppercase;
	font-size: 6.2em;
	letter-spacing: 0.1em;
}

.main-title .thin {
	font-weight: 200;
}

@media only screen and (max-width : 768px) {
	.demo-1 .main-title,
	.demo-3 .main-title,
	.demo-4 .main-title {
		font-size: 3em;
	}

	.demo-2 .main-title {
		font-size: 4em;
	}
}
